<table>
<% @playlists.each do |elem| %>
    <tr>
        <td>
            <img src=<%= elem.image%>>
            <form action="/playlist/<%= elem.url_encoded_name %>" method="get">
                <button type="submit" id="playlist_name"><%= elem.name %></button>
            </form>
        </td>
    </tr>
<% end %>
</table>